<div class="modal-content">
    <h4>
      Видалити таблицю {{table}}
    </h4>
    <div class="center">
      Ви дійсно бажаєте видалити таблицю {{table}}?
    </div>
</div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat" {{action 'save'}}>Підтвердити</a>
  {{#link-to 'tables' classNames='modal-action modal-close waves-effect waves-red btn-flat'}}Відмінити{{/link-to}}
</div>
