<div class="site-container">

  <div class="sidebar">
      <ul>
          <li>{{#link-to 'tables'}}Tables{{/link-to}}</li>
          <li>{{#link-to 'queries'}}Queries{{/link-to}}</li>
          <li>{{#link-to 'reports'}}Reports{{/link-to}}</li>
      </ul>
  </div>

  <div class="content">
      {{outlet}}
  </div>

</div>
