<div class="row">
    <div class="col s12">
        <div class="collection">
          {{#each tables as |table|}}
              {{#link-to "tables.table" table classNames='collection-item'}}{{table}}{{/link-to}}
          {{/each}}
        </div>
    </div>
</div>

{{outlet}}